<!DOCTYPE html>
<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MT6TGLH');</script>
    <!-- End Google Tag Manager -->    

    <title>Loftus Heating and AC</title>

    <meta charset="utf-8">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="alternate" type="application/rss+xml" title="Blog" href="http://www.loftusheatingandac.com/rss">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/styles/animate.css" />
    <link rel="stylesheet" type="text/css" href="/styles/elements.css" />
    <link rel="stylesheet" type="text/css" href="/styles/custom.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->  
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT6TGLH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Navbar
    ============= -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Loftus Heating and AC</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about">About Us</a>
                            </li>
                            <li><a href="/about/guarantee">Guarantee</a>
                            </li>
                            <li><a href="/about/indoor-air-quality">Indoor Air Quality</a>
                            </li>
                            <li><a href="/about/services">Services</a>
                            </li>
                            <li><a href="/about/team">Team</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/blog">Blog</a>
                    </li>
                    <li><a href="/faq">FAQ</a>
                    </li>
                    <li><a href="https://apply.svcfin.com/home/dealerAuthentication?id=400551610&key=1742219857">Apply For Financing</a></li>
                    <li><a href="/products">Products</a>
                    </li>
                    <li class="hidden-sm hidden-md"><a href="/contact">Contact us</a>
                    </li>
                    <!-- Profile links for extra small screens -->
                    <li class="visible-xs"><a href="/login">Sign In</a>
                    </li>
                </ul>
                <!-- Search form for extra small screens -->
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <% if (!req.session.user) { %>
                        <!-- Sign in & Sign up -->
                        <li id="sign-in" class="show"><a href="/login">Sign In</a>
                        </li>
                        <!-- Signed in. Profile Menu -->
                        <li id="cogs-menu" class="hidden">
                            <a href="edit-profile.html">
                                <i class="fa fa-gears fa-lg"></i>
                            </a>
                        </li>
                        <% } else { %>
                            <li id="profile-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrator <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="account">
                                        <img src="/img/team/becky.jpg" style="margin-right:20px" width="100px" alt="Team Member" class="pull-left">
                                        <p><b>Administrator</b>
                                            <br />
                                        </p>
                                        <p><a href="/logout" id="sign-out">Sign out</a>
                                        </p>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <% } %>
                </ul>
            </div>
        </div>
    </div>

    <!-- Include the view file for the current controller/route -->
    <%- body %>

        <!-- Foooter
    ================== -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Contact Us 
            =================  -->
                    <div class="col-sm-4">
                        <div class="headline">
                            <h3>Contact us</h3>
                        </div>
                        <div class="content">
                            <p>
                                Logan, Iowa 51546
                                <br />420 East 7th Street
                                <br />Phone: (712) 644-3260
                                <br />Fax: (712) 644-2965
                                <br />Email: <a href="mailto:service@loftusheatingandac.com">service@loftusheatingandac.com</a>
                            </p>
                        </div>
                    </div>
                    <!-- Social icons 
            ===================== -->
                    <div class="col-sm-4">
                        <div class="headline">
                            <h3>Go Social</h3>
                        </div>
                        <div class="content social">
                            <p>Stay in touch with us:</p>
                            <ul>
                                <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                <li><a href="https://www.facebook.com/loftuslogan"><i class="fa fa-facebook"></i></a>
                                </li>
                                <!-- <li><a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-vk"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                    </li> -->
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Subscribe 
            =============== -->
                    <div class="col-sm-4">
                        <div class="headline">
                            <h3>Certification</h3>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-3 text-center">
                                    <a href="/certification">
                                        <img src="/img/nate.jpg" class="img-responsive img-rounded" alt="NATE Certified" />
                                    </a>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <a href="/certification">
                                        <img src="/img/save.png" class="img-responsive img-rounded" alt="SAVE Certified" />
                                    </a>
                                </div>
                                <div class="col-xs-6 text-center">
                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Legal 
      ============= -->
        <div class="legal">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>&copy; Loftus Heating and AC</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/scrolltopcontrol.js"></script>
        <!-- Scroll to top javascript -->

</body>

</html>
