  <div class="wrapper"> 
  <!-- Showcase
    ================ -->
    <div id="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h1 class="animated slideInDown">Family Owned and Operated</h1>
            <div class="list">
              <ul>
                <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa fa-code"></i> <span>ESP Service Provider.</span></span></li>
                <li class="animated slideInLeft second"><span class="li-bg"><i class="fa fa-cogs"></i> <span>Licensed and Insured.</span></span></li>
                <li class="animated slideInLeft third"><span class="li-bg"><i class="fa fa-tablet"></i> <span>24 Hour Service.</span></span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 hidden-sm hidden-xs">
            <div class="showcase">
              <div class="iMac animated fadeInDown"></div>
              <div class="iPad animated fadeInLeft"></div>
              <div class="iPhone animated fadeInRight"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Services
        ================ -->
      <div class="row">
        <div class="col-md-12">
          <div class="services">
            <ul>
                <li>
                  <i class="fa fa-briefcase fa-3x"></i>
                  <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                  <i class="fa fa-cloud-upload fa-3x"></i>
                  <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                  <i class="fa fa-laptop fa-3x"></i>
                  <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                  <i class="fa fa-gears fa-3x"></i>
                  <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                  <i class="fa fa-compass fa-3x"></i>
                  <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Welcome message
            ================= -->
        <div class="col-md-8">
        <div class="block-header">
          <h2>
            <span class="title">Welcome Message</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
          </h2>
        </div>
          <img src="img/about.jpg" class="img-about img-responsive" alt="About">
          <p>
            We are a family owned and operated Lennox dealer located in Logan, Iowa. We serve the Harrison County and immediate surrounding areas including Pottawatome, Shelby, Monona counties in Iowa. Our service and installation techs have all graduated from a recognized technical trade school and participate in on going training to become and maintain NATE certification (North American Technician Excellence). We service all indoor climate control needs of homes and businesses. We install and service furnaces, boilers, air conditioners, geothermal and air source heat pumps, humidifiers, air purifying and air filtering systems.
          </p>
          <div class="info-board info-board-blue">
            <h4>Coupon</h4>
            <p>$25.00 off your first service from Loftus Heating, Inc. Just mention the coupon when you call.</p>
          </div>
        </div>
        <!-- Last updated
            ================== -->
        <div class="col-md-4">
        <div class="block-header">
          <h2>
            <span class="title">Last Updates</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
          </h2>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#blog" data-toggle="tab">Blog</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="blog">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/blog-1.jpg" alt="Blog Message">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Story title</a></h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/blog-2.jpg" alt="Blog Message">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Story title</a></h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/blog-3.jpg" alt="Blog Message">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Story title</a></h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
              </div>
            </div>
            <a href="/blog" class="read-more">Read more stories...</a>
          </div>
          <div class="tab-pane" id="comments">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/face1.jpg" alt="Blog Message">
              </a>
              <div class="media-body">
                <a href="#">Alex Smith</a> <span class="text-muted">20 minutes ago</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius...</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/face2.jpg" alt="Blog Message">
              </a>
              <div class="media-body">
                <a href="#">Dan Smith</a> <span class="text-muted">1 hour ago</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius...</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/face3.jpg" alt="Blog Message">
              </a>
              <div class="media-body">
                <a href="#">David Smith</a> <span class="text-muted">11/10/2013</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius...</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="events">
            <h5>Moblie Web+DevCon San Francisco 2014 <small>January 28, 2014</small></h5>
            <p class="text-muted"><i class="fa fa-map-marker"></i> Kuala Lumpur, Malaysia</p>
            <hr>
            <h5>2013 The 2nd International Conference on Information and Intelligent Computing(ICIIC 2013) <small>December 29, 2013</small></h5>
            <p class="text-muted"><i class="fa fa-map-marker"></i> San Francisco, California, United States</p>
            <hr>
            <h5>International Conference on Cloud Computing and eGovernances 2014 <small>November 20, 2013</small></h5>
            <p class="text-muted"><i class="fa fa-map-marker"></i> Saigon, Ho Chi Minh, Vietnam</p>
          </div>
        </div>
        </div>
      </div>
