  <div class="wrapper"> 
  <!-- Showcase
    ================ -->
    <div id="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1 class="animated slideInDown">Think energy efficient. Think comfort. Think of your friends at Loftus Heating.</h1>
            <div class="list">
              <ul>
                <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa-cogs"></i> <span>Licensed and Insured.</span></span></li>
                <li class="animated slideInLeft second"><span class="li-bg"><i class="fa fa fa-code"></i> <span>Family owned And Operated.</span></span></li>
                <li class="animated slideInLeft third"><span class="li-bg"><i class="fa fa-tablet"></i> <span>24 Hour Service For Our Customers.</span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <!-- Welcome message
            ================= -->
        <div class="col-md-8 col-sm-12">
        <div class="block-header">
          <h2>
            <span class="title">Welcome </span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
          </h2>
        </div>
          <img src="img/team-photo.jpg" class="img-about img-responsive" alt="Team Photo">
          <p>
            We are a family owned and operated Lennox dealer located in Logan, Iowa. We serve the Harrison County and immediate surrounding areas including Pottawatome, Shelby, Monona counties in Iowa. Our service and installation techs have all graduated from a recognized technical trade school and participate in on going training to become and maintain NATE certification (North American Technician Excellence). We service all indoor climate control needs of homes and businesses. We install and service furnaces, boilers, air conditioners, geothermal and air source heat pumps, humidifiers, air purifying and air filtering systems.
          </p>
          <div class="info-board info-board-blue">
            <h4>Coupon</h4>
            <p>$25.00 off your first service from Loftus Heating, Inc. Just mention the coupon when you call.</p>
          </div>
          <div>
            <!-- <a href="files/2017-Lennox-WINTER.doc"> -->
              <a href="files/2018 Spring Promo Web Details.docx"><img src="img/Financing.jpg" class="img-responsive img-thumbnail" alt=""/></a>
              <br /><br />
              <p>
                When it comes to perfecting your home, there's no better choice than Lennox&reg; products, which are the quietest, most efficient and most capable heating and cooling systems on Earth. This is the idea conveyed in our new advertising campaign, What Perfect Feels Like&trade;.
              </p>
            <!-- </a> -->
          </div>
          <div class="info-board">
            <h4>We’re Hiring Installer / Technicians</h4>
            <p>To apply online click <a href="https://apply.wonscore.io/5acbd319ea452b0001289a7a/Loftus-Heating-Inc">here</a></p>
            <p>Resumes can also be mailed to P.O. Box 4 or brought to our office.</p>
          </div>
        </div>
        <!-- Last updated
            ================== -->
        <div class="col-md-4 col-sm-12">
        <div class="block-header">
          <h2>
            <span class="title">Latest News</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
          </h2>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#blog" data-toggle="tab">Blog</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="blog">

             <% _.each(posts, function(post){ %>
              <div class="media">
                <div class="media-body">
                  <h4 class="media-heading"><a href="<%= post.link %>"><%= post.title %></a></h4>
                  <div class="media-post-body">
                  <%- post.body %>
                  </div>
                </div>
              </div>
             <% }); %>
            <a href="/blog" class="read-more">Read more...</a>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>    
