<!-- Main body
================== -->
<div class="wrapper">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Remove the .animated class if you don't want things to move -->
                    <h1 class="animated slideInLeft">
                        <span>About Us</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="hl top-zero">Guarantee</h1>
                <p class="lead">

                    <div class="content">
                        <p>Loftus Heating, Inc. employees highly skilled NATE certified technicians.&nbsp; We participate in ongoing education to keep abreast of the current advances in HVAC technology and equipment. We always strive to do our best and we promise to be professional in attitude and workmanship and treat your family, your home and your property with the highest respect. If, when we finish in your home, we have not performed in accordance with these standards, you don’t pay until you are satisfied with the results.</p>
                        <p class="well">
                            <span>
                                <em>
                                    <span>
                                        <strong>Your satisfaction is our guarantee. To more than satisfy is our goal.</strong>
                                    </span>
                                </em>
                            </span>
                        </p>
                        <p>
                            <span>Here is what our customers have to say about doing business with Loftus Heating, Inc.</span>
                        </p>
                        <h2 class="hl">Lennox Premier Dealer survey responses:</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Excellent</td>
                                        <td>Good</td>
                                        <td>Fair</td>
                                        <td>Poor</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Overall office/Sales performance Rating</td>
                                        <td>99%</td>
                                        <td>1%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>Timely manner of service/install</td>
                                        <td>99%</td>
                                        <td>1%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>Technician was neat and professional</td>
                                        <td>99%</td>
                                        <td>1%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>Technician thoroughly explained job and answered questions</td>
                                        <td>99%</td>
                                        <td>1%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>Technician(s) left home clean &amp; in order</td>
                                        <td>100%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>Technician explained operation of system &amp; provided use and care manuals</td>
                                        <td>99%</td>
                                        <td>1%</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>&nbsp;</p>
                        <div class="table-reponsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Yes</td>
                                        <td>No</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Likeliness to recommend Loftus to family or friends.</td>
                                        <td>100%</td>
                                        <td>0%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </p>
                <br />
            </div>
        </div>

    </div>
</div>
