<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <!-- Remove the .animated class if you don't want things to move -->
      <h1 class="animated slideInLeft"><span>About Us</span></h1>
      </div>
    </div>
    </div>
    </div>
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <h1 class="hl text-center top-zero">Our Company</h1>
      <p class="lead text-center">
      <p>Members of:</p>
      <ul>
      <li>ACCA - Air Conditioning Contractors of America </li>
      <li>Heartland Heatpump Association </li>
      <li>RSES - Refrigeration Service Engineers Society </li>
      <li>NATE - Certified North American Technician Excellence </li>
      <li>NFIB - National Federation of Independents Business </li>
      </ul>
      <p><strong>A Note from the Owner</strong>: Loftus Heating and Air Conditioning specializes in the service, maintenance and installation of home comfort products. We service all brands of heating and cooling equipment in Harrison county and immediate surrounding counties in Iowa. We are proud to say that we offer installation of quality Lennox, Trane&nbsp;and AirFlo products. With these fine products and our exceptional staff, we are able to offer the highest quality, highest efficiencies and best warranties available today. Our technicians are certified by North American Technician Excellence. We provide 24 hour emergency service for our customers and our office is staffed from 7:30 am to 5:00 pm.</p>
      <p>As manufacturers improve heating and cooling systems, these systems are becoming more sophisticated and complicated. That is why Loftus Heating &amp; A/C provides ongoing educational programs for&nbsp;our technicians. In doing so, we feel confident that we can provide our customers a service that they deserve. We feel that our biggest asset at Loftus Heating, Inc. is our employees. They work hard for our customers and always put our customers best interest first. We are proud of each of them and know that you, too, will appreciate how hard they will work for you. If you do not already have a service company or if you are not satisfied with the services you have received from another company in the past, please give us a call. We do offer free installation estimates with a computer cost and savings analysis. We also do energy audits to show you where your hard earned energy dollars are going.</p>
      <p><strong>Mission Statement:</strong> Our purpose at Loftus Heating and A/C is to provide an honest, professional, consistent and thorough service always being courteous and respectful to our customers and considerate of their wants and needs.Our company promises to:</p>
      <ul>
      <li>Offer our services at a reasonable and fair price. </li>
      <li>Maintain a well educated and experienced workforce. </li>
      <li>Encourage open, honest communication. </li>
      <li>Strive for excellence. Customers, employees and employers will receive a fair days work for a fair days pay.</li>
      </p>
      <br />
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
      <div class="about-icon"><i class="fa fa-briefcase"></i></div>
      <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
      <p class="about-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.
      </p>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-4">
      <div class="about-icon"><i class="fa fa-archive"></i></div>
      <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
      <p class="about-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.
      </p>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-4">
      <div class="about-icon"><i class="fa fa-tasks"></i></div>
      <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
      <p class="about-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.
      </p>
      <div class="clearfix"></div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div class="about-btn">
        <a class="btn btn-default" href="team.html">Our Team</a> <a class="btn btn-default" href="contact.html">Contact Us</a>
      </div>
    </div>
    </div>
  </div>
  </div>