<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <!-- Remove the .animated class if you don't want things to move -->
      <h1 class="animated slideInLeft"><span>About Us</span></h1>
      </div>
    </div>
    </div>
    </div>
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <h1 class="hl top-zero">Indoor Air Quality</h1>
      <p class="lead">
<div class="content">
    <p>Most of us spend up to 90% of our time indoors,and allergy and asthma sufferers live in an estimated one out of three homes.</p>
<p>Thanks to the latest in information technology combined with the internet, you can receive an easy-to-read…personalized report on the airborne particles… contaminants… temperature and humidity levels in your home.</p>
<p>The HVAC professionals from Loftus Heating and Air Conditioning can place an ‘Air Advice’ indoor air quality monitor in your home that will take air samples every 10 minutes and transmit the collected data via the telephone line each night at midnight to the AirAdvice office for analysis. Then you and our technician can read the report and determine the best solution.</p>
<p>Eliminating sources of pollution and reducing emissions can be a highly effective means of improving the indoor air quality in your home and protecting your family’s health.</p>
<p>Monitoring the indoor air of your home and recommending solutions is a service offered by Loftus Heating and Air Conditioning. Call Loftus at 877-326-2277 for more information or to schedule this service for your home.</p>
<p><img src="/img/advice.jpg" alt="" width="100" height="44"></p>
  </div>
      </p>
      <br />
    </div>
    </div>
  </div>
  </div>