<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <!-- Remove the .animated class if you don't want things to move -->
      <h1 class="animated slideInLeft"><span>About Us</span></h1>
      </div>
    </div>
    </div>
    </div>
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <h1 class="hl text-center top-zero">Services</h1>
      <p class="lead text-center">

        Your heating and cooling system is a big investment. But using the wrong contractor can end up costing you a lot ... higher utility bills ... not to mention the potential health and safety hazards. To be sure you're getting quality, trust your heating and cooling needs to experienced, knowledgeable experts. We carry name-brand heating and cooling products backed by the best warranties and service in the industry. Plus, our technicians are NATE certified - the national standard for quality in the heating and cooling industry. With quality on your side, you can rest assured you're getting the best there is.
         
        <h3>PLANNED SERVICE MAINTENANCE PROGRAM</h3>
        Just like 3000 mile maintenance is recommended on your car, all heating and air conditioning manufactures recommend annual maintenance on your home maintenance system. Loftus Heating and A/C offers a Planned Service plan for your convenience. Customers on this plan receive regular annual service on their heating and/or cooling system during the coinciding season at a discounted rate. The rate is discounted because we are able to schedule several PS calls in one area on a given day saving us unproductive driving time and fuel expense. The Planned Service program will benefit you as our customer by prolonging the life of your equipment, saving energy dollars by making sure your system is operating efficiently and give you piece of mind knowing in advance that your system will be taken care of. Servicing your system regularly can correct a simple problem before it turns into a costly breakdown. This also helps us to better organize our business.
        
        <strong>We service all indoor climate control needs of homes and businesses including:</strong>
        <ul>
        <li>furnaces</li>
        <li>boilers</li>
        <li>air conditioners</li>
        <li>geothermal and air source heat pumps</li>
        <li>humidifiers</li>
        <li>air purifying and air filtering systems</li>
        <li>duct systems</li>
        </ul>

        <div class="text-center">
        <img src="/img/LoftusInstallation.jpg" />
        </div>
      </p>
      <br />
    </div>
    </div>
  
  </div>
  </div>