<!-- Main body
================== -->
<div class="wrapper">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Remove the .animated class if you don't want things to move -->
                    <h1 class="animated slideInLeft">
                        <span>About Us</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="hl text-center top-zero">Our Team</h1>
                <p class="lead text-center">
                    Meet our dedicated team.
                </p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="team">
                    <div class="member-left">
                        <img src="/img/team/kevin.jpg" alt="Team Member" class="left">
                        <h4>Kevin Loftus</h4>
                        <p class="position">Founder</p>
                        <p>Kevin runs the show.</p>
                    </div>
                    <div class="member-right">
                        <img src="/img/team/becky.jpg" alt="Team Member" class="right">
                        <h4>Becky Loftus</h4>
                        <p class="position">Accounting</p>
                        <p>When my husband, Kevin founded Loftus Heating and Air Conditioning in 1975, I came along as an unwitting partner. With a basic knowledge of bookkeeping and accounting from high school business classes I was able to keep books from home, take the phone calls and still and be there to raise our 3 children. We both attended a business management class through Lennox in 1983. I also took accounting classes through Iowa Western Community College and a business computing class through UNO. Born and raised in Logan and after living in Omaha for the first 5 years of our marriage, we returned to settle in Logan in 1975. We have lived our current home since 1977.  We have been married for 43 years.  Our 3 children live close by and we have 9 wonderful grandchildren.   My hobbies include reading, gardening, attending grandchildren events and having date nights with Kevin. </p>
                    </div>
                    <div class="member-left">
                        <img src="/img/team/nick.jpg" alt="Team Member" class="left">
                        <h4>Nick Loftus</h4>
                        <p class="position">Service and Installation Technician</p>
                        <p>Nick Loftus has been employed at Loftus Heating for 18 years. As the son of Kevin Loftus, he logged many hours of on the job education as a youngster. Upon completion of high school, Nick attended Southeast Community College. He graduated in 1996 with an Associates of Applied Science Degree in heating, air conditioning, & commercial refrigeration. After receiving his degree, he returned to Logan and began working in the family business as a service/installation technician. Nick married his wife Brenda in 1999. They currently reside in Woodbine with their children Lane & Caleb. Caleb enjoys riding with his father, just as Nick did with Kevin years ago. 
                        Nick currently holds Masters Licenses in Hydronics, Refrigeration, HVAC, and Plumbing. He also holds a Journeyman’s Electrician License. He has obtained NATE, SAVE, OSHA, Quality Assured & Refrigeration certifications. He takes pride in keeping up to date with all of his education and accreditation to better serve the customers of Loftus Heating & A/C.</p>
                    </div>
                    <div class="member-right">
                        <img src="/img/team/ronda.jpg" alt="Team Member" class="right">
                        <h4>Ronda Oloff</h4>
                        <p class="position">Office Manager</p>
                        <p>My husband, Terry and I live on an acreage southwest of Logan.  We have one grown son Joe who lives in Blaire, Ne. with his wife Rachel and our four grandchildren, Maggie, Dylan, RaeLynn and Zoey.  
                        I graduated from Logan-Magnolia with the class of 1980.  I went to Barber school in Omaha, Nebraska and hold a Master Barbers license in both Nebraska and Iowa.  I soon discovered that the city life was not for me.  Both my husband and I grew up on farms and we love living in the country.  We enjoy fishing and go to Minnesota almost every summer.  Our hobbies are whatever our grandchildren are doing at the moment!  Whether it is football, volleyball, wrestling, dance or cheer leading.  One of my most favorite things in life is being a Grandma.  </p>
                    </div>
                    <div class="member-left">
                        <img src="/img/team/gerry.jpg" alt="Team Member" class="right">
                        <h4>Gerry Zaiser</h4>
                        <p class="position">Service and Installation Technician</p>
                        <p>My wife Sandi and I live in Logan.  I have a RHVAC degree from UTI Institute and have 15 years experience in the field.  I am NATE certified and take part in continuing education to keep abreast with new technologies.   Before my HVAC carrier I attended business, accounting and livestock management classes.
                        I enjoy spending time fixing up our house and keeping up on changes in the HVAC field.  I do not have a lot of hobbies other than an occasional fishing trip, some sport shooting and a trip with my wife when we can afford it. </p>
                    </div>
                    <div class="member-right">
                        <img src="/img/team/jacob.jpg" alt="Team Member" class="left">
                        <h4>Jacub Hazen</h4>
                        <p class="position">Service and Installation Apprentice</p>
                        <p>I have lived in Magnolia, Iowa my whole life.  I attended Logan–Magnolia high school and graduated in 2008.  Shortly after high school I started at Southeast Community College where I graduated with an associated of Applied Science in HVAC and Refrigeration.  I worked as a helper for Loftus Heating through my senior year of high school and during breaks while in college.  I have worked full time as a serviceman/installer apprentice since graduation.  I enjoy spending time outdoor four wheeling, hunting, and fishing.</p>
                    </div>
                    <div class="member-left">
                        <img src="/img/team/matt.jpg" alt="Team Member" class="left">
                        <h4>Matt Reed</h4>
                        <p class="position">Service and Installation Apprentice</p>
                        <p>I live in Woodbine, Iowa with my wife and our two boys.  I enjoy hunting and fishing and improving wildlife habitat.  I have been in the construction field for 22 years.  6 years building steel buildings, the next 8 in Colorado working in commercial HVAC while doing my HVAC apprenticeship.  Then, one year commercial HVAC in Lincoln, Nebraska before moving back home to Iowa.  I have been with Loftus Heating and A/C since 2007.  I have my Iowa Jouneyman’s license in HVAC, Plumbing,  Hydronics and Refrigeration.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="about-btn">
                    <a class="btn btn-default" href="about-us.html">Our Company</a>  <a class="btn btn-default" href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
