<!-- Main body
================== -->
  <div class="wrapper">
	<div class="section-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		    <!-- Remove the .animated class if you don't want things to move -->
			<h1 class="animated slideInLeft"><span>FAQs</span></h1>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <!-- Help Center -->
	  <div class="row">
	    <div class="col-sm-12">
		  <h2 class="hl top-zero">Help Center</h2>
		  <hr>
		  <form class="form-inline" role="form">
		    <div class="row">
			  <div class="col-md-6 col-sm-9">
			    <div class="input-group">
				  <label class="sr-only" for="search3">Search</label>
				  <input type="text" class="form-control " id="search3" placeholder="Enter your question here">
				  <span class="input-group-btn">
				    <button type="submit" class="hl-btn hl-btn-blue">Search</button>
				  </span>
				</div>
			  </div>
			</div>
		  </form><br />
		</div>
	  </div>
	  <div class="row">
	    <!-- FAQs accordion -->
		<div class="col-md-6 col-sm-9">
		  <h4 class="hl">Frequently Asked Questions</h4>
		  <hr>
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					  What is NATE?
					</a>
				  </h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
				  <div class="panel-body">
					North American Technician Excellence, Inc. (NATE) is the leading certification program for technicians in the heating, ventilation, air-conditioning and refrigeration industry.
					<br /><br />
					<a href="/files/pdf/nate.pdf">Click here</a> for to download complete description in pdf format.
				  </div>
				</div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					  What are furnace ratings?
					</a>
				  </h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
				  <div class="panel-body">
					Furnaces are rated by the Annual Fuel Utilization Efficiency ratio (AFUE), which is the percent of heat produced for every dollar of fuel consumed. Like the miles per gallon on you car, the higher the AFUE rating, the longer your fuel costs. All furnaces manufactured must meet at least 78% AFUE. If your furnace is 10 to 15 years old, it probably falls well below the current furnace minimum and wastes energy.
					<br /><br />
					<a href="/files/pdf/furnace%20ratings.pdf">Click here</a> for to download complete description in pdf format.
				  </div>
				</div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					  Will my new furnace work differently than my old?
					</a>
				  </h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
				  <div class="panel-body">
					Maybe. When you install a new indoor comfort system in your home, you'll probably notice it operates differently than your old system. Radical changes have taken place in the technology of the comfort industry in recent years. These changes will affect how your system operates, and also may affect what you notice about your system.
					<br /><br />
					<a href="/files/pdf/furnace%20work%20differently.pdf">Click here</a> for to download complete description in pdf format.
				  </div>
				</div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					  Can I use my chimney with my new furnace?
					</a>
				  </h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
				  <div class="panel-body">
					The answer is a definite maybe. Or more likely, maybe not. Truth is, furnace technology has advanced significantly in recent years. The higher efficiencies and enhanced performance achieved by today's furnaces make specific demands many existing masonry chimneys simply can't meet. Your local independent Lennox dealer can offer the best advice on how to configure your new furnace to get the most comfort for years to come.
					<br /><br />
					<a href="/files/pdf/chimney%20with%20new%20furnace.pdf">Click here</a> for to download complete description in pdf format. 
				  </div>
				</div>
			  </div>	
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
					  What is variable speed?
					</a>
				  </h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse">
				  <div class="panel-body">
					Variable-speed motors have intelligent technology to monitor incoming data from the blower and adjust accordingly so you can feel confident that your system is working to control your environment.
					Variable-speed motors can actually save you money on your energy bill as they consume less electricity than standard motors.
					Having a variable-speed furnace as part of your homes cofort systems means you will gain air conditioning efficiency or SEER.
					<br /><br />
					<a href="/files/pdf/variable%20speed.pdf">Click here</a> for to download complete description in pdf format.
				  </div>
				</div>
			  </div>	
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
					  Why is clean indoor air important?
					</a>
				  </h4>
				</div>
				<div id="collapseSix" class="panel-collapse collapse">
				  <div class="panel-body">
					Indoor air quality is a concern today as most newer homes are being built "tighter" to be more energy efficient. Existing structures have also been "tightened-up" with better insulation, weather-stripping, upgraded windows and high quality exterior doors. Unfortunately, making homes more energy efficient exacts an unexpected price. Indoor air quality suffers as the exchange of indoor and outdoor air is limited. Indoor air pollutants get trapped inside and can build up to harmful levels. Because of this, it is important to clean the air by filtering out as many pollutants as possible.
					<br /><br />
					<a href="/files/pdf/clean%20air.pdf">Click here</a> for to download complete description in pdf format.
				  </div>
				</div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
					  Is there really much difference in A/C and heat pump sound levels?
					</a>
				  </h4>
				</div>
				<div id="collapseSeven" class="panel-collapse collapse">
				  <div class="panel-body">
					Because the answer is most definitely YES! Until recently, noisy air conditioners and heat pumps were accepted as the norm. High noise levels were even associated with the "power" of heating and cooling systems. But today's technology lets you choose an air conditioner or heat pump that is not only higher efficient, but also exceptionally quiet.
					<br /><br />
					<a href="/files/pdf/difference%20in%20ac%20and%20heat%20pump%20sound%20levels.pdf">Click here</a> for to download complete description in pdf format.
				  </div>
				</div>
			  </div>				  			  			  		  
			</div>
			<br />
		</div>
		<!-- FAQs categories -->
		<div class="col-md-6 col-sm-3">
		  <h4 class="hl">Categories</h4>
		  <hr>
		  <div class="row faq-cats">
		    <div class="col-md-6">
			  <ul>
			    <li><i class="fa fa-briefcase fa-2x"></i> <a href="#">First Category</a></li>
			    <li><i class="fa fa-calendar fa-2x"></i> <a href="#">Second Category</a></li>
			    <li><i class="fa fa-cutlery fa-2x"></i> <a href="#">Third Category</a></li>
			    <li><i class="fa fa-music fa-2x"></i> <a href="#">Fourth Category</a></li>
			    <li><i class="fa fa-shopping-cart fa-2x"></i> <a href="#">Fifth Category</a></li>
			  </ul>
			</div>
		    <div class="col-md-6">
			  <ul>
			    <li><i class="fa fa-truck fa-2x"></i> <a href="#">Sixth Category</a></li>
			    <li><i class="fa fa-video-camera fa-2x"></i> <a href="#">Seventh Category</a></li>
			    <li><i class="fa fa-camera fa-2x"></i> <a href="#">Eighth Category</a></li>
			    <li><i class="fa fa-cloud-upload fa-2x"></i> <a href="#">Ninth Category</a></li>
			    <li><i class="fa fa-coffee fa-2x"></i> <a href="#">Tenth Category</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>